body{
  background-color: rgb(240, 240, 240);
}

pre, code {
    font-family: monospace, monospace;
    color: white;
  }
pre {
    overflow: auto;
  }
pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
    padding: 5px;
    background-color: rgb(34, 33, 32);
    border-radius: 20px;
  }

a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 30px;
  border-bottom: 2px solid ;
}
a:hover {
  color: #463333;
}  
#navbar{
  height: 100%; 
  width: 400px; 
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(240, 240, 240); /* Black */
  overflow-y: scroll; 
  padding-top: 20px;
}
#navbar header{
  margin-left: 30px;
  font-size: 30px
}
#main-doc{
  margin-left: 400px;
  overflow-y: hidden;
  
  
}
#main-doc header{
  font-weight:  bold;
  font-size: 20px;
  border-bottom: 1px solid;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}
