/* Set the background color of the body to a light gray */
body {
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Style the header */
header {
  background-color: #333;
  color: white;
  padding: 20px;
}

/* Style the navigation bar */
nav {
  background-color: #f9f9f9;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  width: 300px;
}

/* Style the navigation links */
nav a {
  color: #333;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}

/* Style the active navigation link */
nav a.active {
  background-color: #333;
  color: white;
}

/* Style the content section */
section {
  margin-left: 300px;
  padding: 20px;
}

/* Style the h1 and h2 headings */
h1, h2 {
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

/* Style the paragraph text */
p {
  color: #555;
  font-size: 18px;
  line-height: 1.5;
}

/* Style the code blocks */
 pre, code {
  background-color: #8b7e7e;
  border-radius: 4px;
  font-family: 'Courier Prime', monospace;
  width: 100%;
  font-size: 16px;

}

/* Style the blockquotes */
blockquote {
  border-left: 5px solid #ddd;
  color: #666;
  font-size: 18px;
  margin: 20px;
  padding: 10px;
}

/* Style the images */
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

/* Style the footer */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
